/*!
 * My CSS Rules
 */
body {
	padding-top:50px;
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

a.navBarTitle {
	cursor:default;
}

h1.welcomeTitle{
	font-size:55px;
}

div.login{
	width:370px;
	padding:20px;
	margin: 0 auto;
	background-color:rgba(255,255,255,0.5);
	border-radius:0px 0px 20px 20px;
}

div.workingArea{
	margin: 0 auto;
	min-width:900px;
	min-height:500px;
	background-color:rgba(255,255,255,0.7);
	padding:20px;
	border-radius:0px 0px 20px 20px;
}

div.workingArea h5{
	text-align:right;
}

div.workingArea table.buttons tr td{
	width:160px;
	text-align:center;
	padding:5px;
}

div.workingArea table.buttons tr td a{
	width:130px;
}