@charset "utf-8";
/* CSS Document */
BODY{
	font-family:Arial, Helvetica, sans-serif;
}
A{
	text-decoration:none;
}

DIV.mainContainer{
	width:950px;
	/*border:solid 2px #666;*/
	min-height:300px;
	padding:10px;
	background-color:#FFF;
	margin-top:-60px;
}

DIV.mainContainer DIV.info{
	width:935px;
	border:solid 2px #999;
	padding:5px;
	height:80px;
}

DIV.mainContainer DIV.login {

}

DIV.mainContainer DIV.login TABLE{
	background-color:#6FC;
	border-radius:20px;	
	width:250px;
	min-height:70px;
	padding:30px 40px 30px 40px;
}

DIV.mainContainer DIV.login TABLE TD{
	font-size:18px;
}

DIV.mainContainer DIV.login TABLE TD INPUT{
	border: solid 2px #999999;
	font-size:18px;
	padding:6px;
}

DIV.mainContainer DIV.login TABLE TD A{
	color:#000;
	text-decoration:none;
	background-color:#F60;
	padding:5px 20px 5px 20px;
	border-radius:10px;
	border:solid 2px #F60;
}

DIV.mainContainer DIV.login TABLE TD A:hover{
	background-color:#FA5;
}

DIV.mainContainer TABLE.subscribersList{
	border: solid 1px #999;
}

DIV.mainContainer TABLE.subscribersList TD{
	min-width:20px;
	border: solid 1px #999;
	padding:3px;
}

DIV.mainContainer TABLE.subscribersList TD.icons{
	width:20px;
}

DIV.mainContainer TABLE.subscribersList IMG{
	width:20px;
}

DIV.mainContainer TABLE.form TD{
	text-align:right;
}

DIV.mainContainer UL.navigation{
	margin-left:-25px;
}

DIV.mainContainer UL.navigation LI{
	color:#000;
	display:inline;
	text-decoration:none;
	padding:5px;
	background-color:#F60;
	margin-left:5px;
	list-style-type:none;
	border-radius:10px;
	border: solid 2px #F60;
}

DIV.mainContainer UL.navigation LI:hover{
	color: #000;
	background-color:#FA5;
}

DIV.mainContainer UL.order{
	margin-left:-30px;
}

DIV.mainContainer UL.order LI{
	background-color:#9DD;
	color:#666;
	display:inline;
	text-decoration:none;
	padding:5px;
	margin-left:5px;
	list-style-type:none;
	border-radius:10px;
}

DIV.mainContainer UL.order LI:hover{
	color: #FFF;
	background-color:#999;
}

DIV.mainContainer FORM.details INPUT{
	width:250px;
	margin-right:50px;
	margin-bottom:10px
}

DIV.mainContainer FORM.details SELECT{
	width:250px;
	margin-right:53px;
	margin-bottom:10px
}

DIV.mainContainer IMG.banner{
	margin-top:-5px;
	width:800px;
}

DIV.mainContainer UL.submit{
	margin-left:-25px;
	margin-top:20px;
	margin-right:180px;
}

DIV.mainContainer UL.submit LI{
	color:#000;
	display:inline;
	text-decoration:none;
	padding:5px;
	background-color:#999;
	margin-left:5px;
	list-style-type:none;
	border-radius:10px;
	border: solid 2px #999;
}

DIV.mainContainer UL.submit LI:hover{
	color: #000;
	background-color:#CCC;
}